table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

  width: 20%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mainTableSection{
  margin: 50px;
}

.pieAndChartSection{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.dot {
  height: 400px;
  width: 400px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.mapView{
  height: 500px;
  width: 100%;
  margin: 50px;
}
.container{
  margin-bottom: 100px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
  overflow: hidden;
}