.mainSection{
  margin-bottom: 50px !important;
}

.subCardDiv{
  /* background-color: #67aac7; */
  background-color: #fff;
  color: white;
  /* box-shadow: 5px 5px 5px #3b728a; */

}

.subCardDiv:hover{
box-shadow: 2px 2px 2px #3b728a36;
}

.deaths{
  color: #ea433f;
}
.active{
  color: #00aeff;
}

.recovered{
  color: #00bf4f;
}

.confirmed{
  color: #ff8f00
}
